import './App.css';

function App() {
  return (
    <>
    <section>
      <div className="py-16">
        <div className="mx-auto px-6 max-w-6xl text-gray-500">
          <div className="relative">
            <div className="relative z-10 grid gap-3 grid-cols-6">
              <div className="col-span-full lg:col-span-2 overflow-hidden flex relative p-8 rounded-xl bg-white border border-gray-200 dark:border-gray-800 dark:bg-gray-900">
              <div>
                  <div className="relative aspect-square rounded-full size-32 flex border mx-auto dark:bg-white/5 dark:border-white/10 before:absolute before:-inset-2 before:border dark:before:border-white/5 dark:before:bg-white/5 before:rounded-full"></div>
                  <div className="mt-6 text-center relative z-10 space-y-2">
                    <h2 className="text-lg font-medium text-gray-800 transition group-hover:text-purple-950 dark:text-white">Maria Ramos</h2>
                    <p className="dark:text-gray-300 text-gray-700">FRONT-END DEVELOPER E WEB DESIGNER.</p>
                  </div>
                </div>
              </div>
              <div className="col-span-full sm:col-span-full lg:col-span-4 overflow-hidden relative p-8 rounded-xl bg-white border border-gray-200 dark:border-gray-800 dark:bg-gray-900">
                <p>Olá! Sou Maria Eduarda, estudante de Comunicação em Mídias Digitais na Universidade Federal da Paraíba, onde também desenvolvo pesquisas científicas na área de Análise de Sentimentos com Python e ChatGPT. Sou apaixonada por tecnologias da comunicação, arte moderna e amo aprender sobre novas culturas.Tenho conhecimento nas áreas de desenvolvimento web e webdesign, design gráfico, gestão de projetos, escrita para redes sociais e análise e gestão de mídias digitais.</p>
              </div>

              <div className="col-span-full lg:col-span-3 overflow-hidden relative p-8 rounded-xl bg-white border border-gray-200 dark:border-gray-800 dark:bg-gray-900">
                <div className="grid sm:grid-cols-2">
                  <div className="flex flex-col justify-between relative z-10 space-y-12 lg:space-y-6">
                    <div className="relative aspect-square rounded-full size-12 flex border dark:bg-white/5 dark:border-white/10 before:absolute before:-inset-2 before:border dark:before:border-white/5 dark:before:bg-white/5 before:rounded-full"></div>
                    <div className="space-y-2">
                      <h2 className="text-lg font-medium text-gray-800 transition group-hover:text-purple-950 dark:text-white">Faster than light</h2>
                      <p className="dark:text-gray-300 text-gray-700">Provident fugit vero voluptate. Voluptates a sapiente inventore nisi.</p>
                    </div>
                  </div>
                  <div className="overflow-hidden relative mt-6 sm:mt-auto h-fit -mb-[34px] -mr-[34px] sm:ml-6 py-6 p-6 border rounded-tl-lg dark:bg-white/5 dark:border-white/10">
                    <div className="absolute flex gap-1 top-2 left-3">
                      <span className="block size-2 rounded-full border dark:border-white/10 dark:bg-white/10"></span>
                      <span className="block size-2 rounded-full border dark:border-white/10 dark:bg-white/10"></span>
                      <span className="block size-2 rounded-full border dark:border-white/10 dark:bg-white/10"></span>
                    </div>
                  </div>
                </div>
              </div>
              <div className="col-span-full lg:col-span-3 overflow-hidden relative p-8 rounded-xl bg-white border border-gray-200 dark:border-gray-800 dark:bg-gray-900">
                <div className="h-full grid sm:grid-cols-2">
                  <div className="flex flex-col justify-between relative z-10 space-y-12 lg:space-y-6">
                    <div className="relative aspect-square rounded-full size-12 flex border dark:bg-white/5 dark:border-white/10 before:absolute before:-inset-2 before:border dark:before:border-white/5 dark:before:bg-white/5 before:rounded-full"></div>
                    <div className="space-y-2">
                      <h2 className="text-lg font-medium text-gray-800 transition group-hover:text-purple-950 dark:text-white">Keep your loved ones safe</h2>
                      <p className="dark:text-gray-300 text-gray-700">Voluptate. magnam magni doloribus dolores voluptates a sapiente inventore nisi.</p>
                    </div>
                  </div>
                  <div className="mt-6 relative sm:-mr-[--card-padding] sm:-my-8 before:absolute before:w-px before:inset-0 before:mx-auto before:bg-gray-200 dark:before:bg-gray-800">
                    <div className="relative space-y-6 py-6 flex flex-col justify-center h-full">
                      <div className="flex items-center justify-end gap-2 w-[calc(50%+0.875rem)] relative">
                        <span className="h-fit text-xs block px-2 py-1 shadow-sm border rounded-md dark:bg-gray-800 dark:border-white/5 dark:text-white">Glodie</span>
                        <div className="size-7 ring-4 ring-white dark:ring-[--card-dark-bg]">
                          <img className="rounded-full border border-gray-950/5 dark:border-white/5 size-full" src="https://pbs.twimg.com/profile_images/1585976646468763648/OlbJkLL0_400x400.jpg" alt="" />
                        </div>
                      </div>
                      <div className="flex items-center gap-2 ml-[calc(50%-1rem)] relative">
                        <div className="size-8 ring-4 ring-white dark:ring-[--card-dark-bg]">
                          <img className="rounded-full border border-gray-950/5 dark:border-white/5 size-full" src="https://cloudflare-ipfs.com/ipfs/Qmd3W5DuhgHirLHGVixi6V76LhCkZUz6pnFt5AJBiyvHye/avatar/124.jpg" alt="" />
                        </div>
                        <span className="h-fit text-xs block px-2 py-1 shadow-sm border rounded-md dark:bg-gray-800 dark:border-white/5 dark:text-white">M. Irung</span>
                      </div>
                      <div className="flex items-center justify-end gap-2 w-[calc(50%+0.875rem)] relative">
                        <span className="h-fit text-xs block px-2 py-1 shadow-sm border rounded-md dark:bg-gray-800 dark:border-white/5 dark:text-white">B. Ng</span>
                        <div className="size-7 ring-4 ring-white dark:ring-[--card-dark-bg]">
                          <img className="rounded-full border border-gray-950/5 dark:border-white/5 size-full" src="https://pbs.twimg.com/profile_images/1585976646468763648/OlbJkLL0_400x400.jpg" alt="" />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
    <div className="flex flex-wrap -mx-3 mb-5">
        <div className="relative flex-[1_auto] flex flex-col break-words min-w-0 bg-clip-border rounded-[.95rem] border border-dashed border-stone-200 bg-white m-5">
          <div className="flex-auto block py-8 px-9">
                <h1 className="mb-2 text-[1.75rem] font-semibold text-dark">Our Executive Team</h1>
                <span className="text-[1.15rem] font-medium text-muted"> Meet our talented team, a dynamic group of experts driven by passion and innovation. </span>
            </div>
      </div>

</>
  )
}

export default App;



export function habilidades() {
  return (
      <>
          <h2>habilidades</h2>
        <div></div>
  
        <div className="container">
          <div className="habilidade">
            <img src={habilidade.ImgUrl}/>
            <h6>{habilidade.Titulo}</h6>
            <p>2 anos de experiência</p>
          </div>  
          <div className="habilidade">
            <img src={habilidade.ImgUrl}/>
            <h6>{habilidade.Titulo}</h6>
            <p>2 anos de experiência</p>
          </div>
          <div className="habilidade">
            <img src={habilidade.ImgUrl/>
            <h6>{habilidade.Titulo}</h6>
            <p>3 anos de experiência</p>
          </div>  
          <div className="habilidade">
            <img src={habilidade.ImgUrl}/>
            <h6>{habilidade.Titulo}</h6>
            <p>1 ano de experiência</p>
          </div>  
          <div className="habilidade">
            <img src={habilidade.ImgUrl}/>
            <h6>Python</h6>
            <p>6 meses de experiência</p>
          </div>
  
  
        </div>
      </>
  )
     
  }
  